.presentation div,
.categorias .content,
.resenias .father{
    flex-direction:row;
}
main,
.presentacion,
.presentation div,
.call-to-action,
.call-to-action div,
.categorias,
.categorias .content,
.categorias .article,
.resenias,
.resenias .father,
footer{
    display:flex;

}
div{
    display: inline-block;
}
main{
    flex-wrap: wrap;
    flex-direction:column;
    align-content:center;
}
.presentacion{
    align-items: center;
    justify-content:center;
    height:450px;
}
.presentation div{
    justify-content: flex-end;
}
.call-to-action{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.call-to-action div{
    flex-direction:column;
    align-items:center;
    width:50%;
}
.categorias{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}
.categorias .content{
    margin: 30px;
    justify-content:space-around;

}
.categorias .article{
    width:40%;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items: flex-start;
    justify-content: center;
}
.resenias{
    flex-direction:column;
    justify-content:center;
    align-items:stretch;
}
.resenias .father{
    justify-content:space-evenly;
    align-items:stretch;
}