*,
*::after,
*::before{
    margin: 0;
    padding:0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1 0 100%;
}
section{
    padding-top:20px;
    padding-bottom: 20px;
}
.categorias{
    width: 80%;
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
}
.categorias div img{
    max-width: 60px;
}

.te-interese{
    min-width: 80%;
    max-height: max-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.style-product1{
    width: 80%;
    display: flex;
    flex-flow: row wrap;
}
.style-product1 div{
    flex:1 0 auto;
    align-self: stretch;
    padding-left: 20px;
}
.destacados{
    width: 80%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
    align-items: center;
}
.destacados .content{
    flex:0 0 max-content;
    margin:20px
}
.destacados .content:hover{
    cursor: pointer;

}
.destacados p{
    margin:10px
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    height: 25vh;
}
footer h2{
    align-self: flex-start;
}
footer .contact{
    align-self: flex-end;
    text-align: end;
}
 /* agregando responsive a algunas partes de la pagina */
@media (min-width:580px){
    .te-interese .style-product1{
        flex:0 0 50%;
    }
    .te-interese img{
        margin-left: 10px;
    }
    .te-interese .style-product1 div{
        margin-right: 10px;

    }

}
@media (min-width:200px){
    
    header .navbar{
        display: none;
    }
    header .boton{
        opacity:100%;
        overflow: visible;
    }
}
@media (min-width:880px){
    header .navbar{
        display: flex;
    }
    header .boton{
        opacity:0;
        overflow: hidden;
    }
}